<div class="card" style="width: 18rem;">
  <img src="{{doctor.photoUrl}}" class="card-img-top" alt="{{doctor.name}}" width="200" height="250">
  <div class="card-body">
    <h5 class="card-title">{{doctor.name}}, {{doctor.age}}</h5>
    <p class="card-text">{{doctor.department}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{doctor.gender}}</li>
    <li class="list-group-item">{{doctor.city}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Patients</a>
    <a href="#" class="card-link">Book Appointment</a>
  </div>
</div>