<section>
  <h1>
    Departments
  </h1>
  <details>
    <summary>General Physician</summary>
    <p>
      General Physicians are highly trained specialists who provide a range of non-surgical health care to adult patients. They care for difficult, serious or unusual medical problems and continue to see the patient until these problems have resolved or stabilised.
    </p>
    <button type="button" class="btn btn-primary" [routerLink]="['/servelist/', 'General Physician']">Doctors</button>
  </details>
  <details>
    <summary>Dermatology</summary>
    <p>
      Dermatologists are medical practitioners who specialize in skin health. They examine patients with skin conditions and overview the progress of dermatological treatments.  
    </p>
    <button type="button" class="btn btn-primary" [routerLink]="['/servelist/', 'Dermatology']">Doctors</button>
  </details>
  <details>
    <summary>Gastrology
    </summary>
    <p>A gastroenterologist is an expert in digestive health and issues related to the stomach, intestines, and bowels, but also includes a number of other organs related to the entire digestive tract. A lot happens between the time food enters your mouth until it is excreted from your body as waste.</p>
    <button type="button" class="btn btn-primary" [routerLink]="['/servelist/', 'Gastrology']">Doctors</button>
  </details>
  <details>
    <summary>Cardiology
    </summary>
    <p>A cardiologist specializes in diagnosing and treating diseases of the cardiovascular system. The cardiologist will carry out tests, and they may perform some procedures, such as heart catheterizations, angioplasty, or inserting a pacemaker.</p>
    <button type="button" class="btn btn-primary" [routerLink]="['/servelist/', 'Cardiology']">Doctors</button>
  </details>
  <details>
    <summary>Neurology
    </summary>
    <p>Neurology is the branch of medicine concerned with the study and treatment of disorders of the nervous system. The nervous system is a complex, sophisticated system that regulates and coordinates body activities. It has two major divisions: Central nervous system: the brain and spinal cord.</p>
    <button type="button" class="btn btn-primary" [routerLink]="['/servelist/', 'Neurology']">Doctors</button>
  </details>
  <details>
    <summary>Pediatrician
    </summary>
    <p>Pediatricians are doctors who manage the health of your child, including physical, behavior, and mental health issues. They're trained to diagnose and treat childhood illnesses, from minor health problems to serious diseases.</p>
    <button type="button" class="btn btn-primary" [routerLink]="['/servelist/', 'Pediatrician']">Doctors</button>
  </details>
  <details>
    <summary>Gynecology
    </summary>
    <p>Gynecologists are doctors who specialize in women's health, with a focus on the female reproductive system. They deal with a wide range of issues, including obstetrics, or pregnancy and childbirth, menstruation and fertility issues, sexually transmitted infections (STIs), hormone disorders, and others.</p>
    <button type="button" class="btn btn-primary" [routerLink]="['/servelist/', 'Gynecologist']">Doctors</button>
  </details>
</section>